<header class="header">
    <a href="/blog" class="header_logo"><img src="/blog/img/blog-logo.png" style="width:45px;height:45px;"></a>

    <nav class="header_nav">
        <ul>
            <li>
                <a href="/blog" class="">Forside</a>
            </li>
            <li>
                <a href="/blog/about" class="">Om mig</a>
            </li>
            <li>
                <a href="https://www.sorkodev.com/" class="">Portfolio</a>
            </li>
        </ul>
    </nav>

    <div class="header_button">
        <button class="searchBtn" aria-expanded="false">
            Søg
            <img src="/blog/img/search.png" width="17px" height="17px" class="search_icon" />
        </button>
    </div>
</header>