<header class="header">
    <a href="/blog" class="header_logo">Admin Del</a>

    <nav class="header_nav">
        <ul>
            <li>
                <a href="/blog" class="">Forside</a>
            </li>
            <li>
                <a href="/blog/about" class="">Om mig</a>
            </li>
            <li>
                <a href="https://www.sorkodev.com/" class="">Portfolio</a>
            </li>
        </ul>
    </nav>

    <div class="header_button">
        <button>
            Log ud
        </button>
    </div>
</header>