<header class="header">
    <a href="/" class="header_logo"><img src="img/blog-logo.png" style="width:45px;height:45px;"></a>

    <nav class="header_nav">
        <ul>
            <li>
                <a href="/myblog/" class="">Forside</a>
            </li>
            <li>
                <a href="/myblog/about" class="">Om mig</a>
            </li>
            <li>
                <a href="/myblog/portfolio" class="">Portfolio</a>
            </li>
        </ul>
    </nav>

    <div class="header_button">
        <button class="searchBtn" aria-expanded="false">
            Søg
            <img src="../img/search.png" width="17px" height="17px" class="search_icon" />
        </button>
    </div>
</header>