<H1>Om mig</H1>
<p>Jeg er 26 år og pt. i gang med mit 3. semester af Datamatikeruddannelsen. Jeg brænder for at skabe gode
    løsninger/produkter og sætter en ære i at levere it-løsninger, som kunder/chefer/kollegaer er stolte af.
    Jeg er altid i udvikling og ønsker at forbedre mig. Dette gør jeg pt. gennem fokus på at dygtiggøre mig på mit
    studie, fritidsprojekter inden for webapps, og gennem fokus på mit helbred og sundhed.</p>