<header class="header">
    <a href="/" class="header_logo">Admin Del</a>

    <nav class="header_nav">
        <ul>
            <li>
                <a href="/" class="">Forside</a>
            </li>
            <li>
                <a href="/about" class="">Om mig</a>
            </li>
            <li>
                <a href="/portfolio" class="">Portfolio</a>
            </li>
        </ul>
    </nav>

    <div class="header_button">
        <button>
            Log ud
        </button>
    </div>
</header>